<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.spring.mapper.BoardMapper">
	<!-- SQL 문 작성 -->
	<select id="boardList" resultType="kr.spring.entity.Board">
		SELECT * FROM Board
		ORDER BY
		createdAt DESC;
	</select>


	<insert id="boardInsert" parameterType="kr.spring.entity.Board">
		INSERT INTO Board(title, content, memID, createdAt,boardImage)
		VALUES(#{title}, #{content}, #{memID}, DEFAULT,#{newImage});
	</insert>


	<select id="boardContent" parameterType="int"
		resultType="kr.spring.entity.Board">
		SELECT * FROM Board
		WHERE boardID = #{boardID};
	</select>
	
	
	
	<!-- <delete id="boardDelete" parameterType="int"> DELETE FROM board WHERE 
		idx = #{idx} </delete> <update id="boardUpdate" parameterType="kr.spring.entity.Board"> 
		UPDATE board SET title=#{title}, content=#{content} WHERE idx = #{idx}; </update> -->
	<!-- BoardMapper.java에 @Update("UPDATE board SET count = count + 1 WHERE 
		idx = #{idx}") 있으면 아래 삭제해야 함 <update id="boardCount" parameterType="int"> 
		UPDATE board SET count = count + 1 WHERE idx = #{idx}; </update> -->
</mapper>